// .container-fluid {
//     text-align: center;
//     margin: 15px;
//     background-color: #212121;
//     .blockHeader {
//         color: #0fb;
//     }
// }

.about__container {
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 5%;
}

//======================ME================

.about__me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 17rem;
    display: grid;
    place-items: center;
    height: 17rem;
    aspect-ratio: 1/1;
    // left: 50%;
    // transform: translateX(-50%);
    // margin-top: 4rem;
    border-radius: 10rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}


// .about__cards {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     gap:1.5rem;
//     margin-bottom: 1rem;
// }

// .about__card {
//     background: var(--color-bg-variant);
//     border: 1px solid transparent;
//     border-radius: 1rem;
//     padding: 0.5rem;
//     text-align: center;
// }

// .experince__card {
//    grid-column-start: 2; 
// }

// .about__card:hover {
//     background: transparent;
//     border-color: var(--color-primary-variant);
//     cursor: default;
// }

// .about__icon {
//     color: var(--color-primary);
//     font-size: 1.4rem;
// }

// .about__card h5 {
//     font-size: 0.95rem;
// }

// .about__card small {
//     font-size: 0.7rem;
//     color: var(--color-light);
// }

//=============================MEDIA QUERIES(MEDIUM DEVICES)============================

@media screen and (max-width: 1024px) {
    // .header {
    //     height: 68vh;
    // }
    .about__container {
        grid-template-columns: 1fr;
        width: 80%;
        // margin-left: 10%;
    }

    .about__me {
        left: 50%;
        transform: translateX(50%);
        // width: 80%;
        // height: 80%;
        // margin-left: 10%;
    }

    // .about__content {
    //     width: 80%;
    //     margin-left: 10%;
    // }
}

//=============================MEDIA QUERIES(SMALL DEVICES)============================

@media screen and (max-width: 600px) {
    // .about__cards {
    //     grid-template-columns: repeat(1, 1fr);
    //     gap:1rem;
    //     margin-bottom: 1rem;
    // }

    .about__container {
        gap: 1rem;
    }


    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .me {
        width: 15rem;
        height: 15rem;
        padding: 1rem 1rem 1rem 1rem;
    }

    .about__me {
        left: 0%;
        transform: translateX(0);
    }
}