.about__container {
    display: grid;
    grid-template-columns: 37% 57%;
    gap: 3%;
}

.about__content p {
    text-align: left;
}

//======================ME================

.about__me {
    background: linear-gradient(#25256e, transparent);
    width: 17rem;
    display: grid;
    place-items: center;
    height: 17rem;
    aspect-ratio: 1/1;
    border-radius: 10rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

//=============================MEDIA QUERIES(MEDIUM DEVICES)============================

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .about__me {
        left: 50%;
        transform: translateX(50%);
    }
}

//=============================MEDIA QUERIES(SMALL DEVICES)============================

@media screen and (max-width: 600px) {

    .about__container {
        gap: 1rem;
    }


    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }

    .me {
        width: 15rem;
        height: 15rem;
        padding: 1rem 1rem 1rem 1rem;
    }

    .about__me {
        left: 0%;
        transform: translateX(0);
    }
}